# ==========================================
# CINEMACORE - VARIABLES GLOBALES
# ==========================================

# 1. Base de Datos Global
DB_USER=postgres
DB_PASSWORD=root

# 2. Seguridad (Compartido entre Auth Service y Gateway/Microservicios)
# Debe tener al menos 32 caracteres (256 bits) para HMAC-SHA256
JWT_SECRET=tu_jwt_secret_generado_aqui_super_seguro

# 3. TMDB API (Movie Service)
TMDB_API_KEY=tu_api_key_aqui
TMDB_API_TOKEN=tu_token_aqui

# 4. URLs Internas (Usadas por el API Gateway)
# Cuando estemos en Docker, usarán los nombres de los contenedores en lugar de localhost
AUTH_SERVICE_URL=http://cinestar-auth-service:8081
MOVIE_SERVICE_URL=http://cinestar-movie-service:8082
SEAT_SERVICE_URL=http://cinestar-seat-service:8083
SHOWTIME_SERVICE_URL=http://cinestar-showtime-service:8084
